* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "VT323", monospace;
  color: #efebff;
  background: #080027;
}
.wrapper {
  margin: 10px;
}
.challenges-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

