* {
  box-sizing: border-box;
  font-family: "VT323", monospace;
}
body {
  margin: 0;
  padding: 10px;
  color: #efebff;
  background: #080027;
}
.wrapper {
  width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.challenges-form {
  margin: 20px 0 20px 0;
  padding: 15px 10px;
  border: 1px solid #4413ff;
  border-radius: 4px;
}
.challenges-form > input,
.challenges-form > button {
  padding: 5px 15px;
  font-size: 16px;
}
.challenges-form > label {
  color: #efebff;
}
.challenges-form > input {
  margin-right: 10px;
  background: #10004e;
  border: 1px solid #4413ff;
  color: #efebff
}
.challenges-form > button {
  color: #473200;
  background-color: #ffb70c;
  border: none;
  border-radius: 4px;
}
.challenges-form > button:hover {
  cursor: pointer;
}
.challenges-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

